<!DOCTYPE html>
<html>
<head>
    <title>Card Details</title>
</head>
<body>
    <h2>Card Details</h2>

    <table>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Difficulty</th>
            <th>Frequency</th>
            <th>Web scraping</th>
        </tr>
        {% for card in card_details %}
        <tr>
            <td>{{ card[0] }}</td> <!-- Question -->
            <td>{{ card[1] }}</td> <!-- Answer -->
            <td>{{ card[2] }}</td> <!-- Difficulty -->
            <td>{{ card[3] }}</td> <!-- Frequency -->
            <!-- <td><a href="{{ url_for('go_webscraping', card_keyword=card[0]) }}">search</a></td> -->
            <td><form action="{{ url_for('go_webscraping') }}" method="get">
                <input type="hidden" id="card_keyword" name="card_keyword" value='{{ card[0] }}'>
                <button type="submit">Submit</button>
            </form></td>
        </tr>
        {% endfor %}
    </table>
    
    <a href="/">Back to Home</a>
</body>
</html>
